*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


   


.home{
    background-image: url(img/gambar1.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.topbar{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed; /* Atur navbar tetap */
    top: 0; /* Letakkan di bagian atas halaman */
    width: 100%; /* Lebar penuh */
    background-color: #fff; /* Warna latar belakang */
    z-index: 10; /* Atur z-index agar navbar di atas elemen lain */
}

.logo img{
    width: 200px;
    /* background-color: aquamarine; */
}

.navbar{
    display: block;
}

.navbar a{
    color: black;
    padding: 3px 20px;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 50px; 
       
}

.navbar a:hover {
    background-color: red;
    color: white; 
}

.logo h1{
    font-size: 30px;
}

.welcome{
    font-size: 35px;
    font-weight: bold;
    
}


.hero {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
}

.desc{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}

.gambar {
    position: absolute; /* Ubah ke absolute */
    top: 75px; /* Sesuaikan jarak dari atas */
    right: 400px; /* Sesuaikan jarak dari kanan */
    width: 20%; /* Pastikan ini positif */
    height: 85%;
    display: flex;
}

.about {
    background-image: url(img/background2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    justify-content: space-between;
}

.tentang {
        font-family: Creepster;
        font-size: 3em;
        text-align: center;
        font-weight: bold;
        /* background: linear-gradient(to right, #ffffff, #fd0000); */
        /* -webkit-text-fill-color: transparent; */
        /* -webkit-background-clip: text; */
        color: white;
}

.tentang span {
    color: red;
}

.desc1 {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: justify;
    padding: 15px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    
}

.kotak {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);

}

.product {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 100px;
}

.card {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    border: 2px solid #ccc; /* Border navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow */
    justify-content: center;
    padding: 5px;
}

.card img {
    width: 100%; /* Agar gambar responsif */
    height: auto; /* Mempertahankan rasio aspek gambar */
    padding: 5px;
}

.card:hover {
    cursor: pointer;
    scale: 1.3;
    transition-duration: 0.5s;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: rgb(231, 221, 221);
}

.hayu {
  text-align: center;  
  font-size: 3em;
  padding-bottom: 20px;
}

.sosmed {
    width: 500px;
    height: 300px;
    background-color: gray;
    border-radius: 30px;
    padding: 60px;
    font-size: 20px;
    margin-left: 50px;
    
}

.sosmed img{
    width: 50px; 
    height: 40px;   

}

.sosmed b{
    text-align: justify;
    font-size: 20px;
}

.bawah{
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
}

.operator{
    width: 500px;
    height: 300px;
    background-color: gray;
    border-radius: 30px;
    padding: 60px;
    font-size: 20px;
    margin-left: 200px;
    font-size: 22px;
    
}

.operator span{
    color: white;
}

.balok{
    display: flex;
    
    
}

.cardsosmed{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    padding: 10px;
}









@media screen and (max-width: 360px) {
    
.home{
    background-image: url(img/gambar1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.topbar{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed; /* Atur navbar tetap */
    top: 0; /* Letakkan di bagian atas halaman */
    width: 100%; /* Lebar penuh */
    background-color: #fff; /* Warna latar belakang */
    z-index: 10; /* Atur z-index agar navbar di atas elemen lain */
}

.logo img{
    width: 100px;
    /* background-color: aquamarine; */
}

.navbar{
    display: block;
}

.navbar a{
    color: black;
    padding: 3px 10px;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 50px; 
       
}

.navbar a:hover {
    background-color: red;
    color: white; 
}

.logo h1{
    font-size: 30px;
}

.welcome{
    font-size: 15px;
    font-weight: bold;
    
}


.hero {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
}

.desc{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    text-align: justify;
    font-size: 12px;
}

.gambar {
    position: absolute; /* Ubah ke absolute */
    top: 75px; /* Sesuaikan jarak dari atas */
    right: 120px; /* Sesuaikan jarak dari kanan */
    width: 20%; /* Pastikan ini positif */
    height: 50%;
    display: flex;
}

.about {
    background-image: url(img/background2.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
}

.tentang {
        font-family: Creepster;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        /* background: linear-gradient(to right, #ffffff, #fd0000); */
        /* -webkit-text-fill-color: transparent; */
        /* -webkit-background-clip: text; */
        color: white;
}

.tentang span {
    color: red;
}

.desc1 {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: justify;
    padding: 15px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    
}

.kotak {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);

}

.product {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 100px;
}

.card {
    border-radius: 10px;
    width: 200px;
    height: 250px;
    border: 2px solid #ccc; /* Border navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow */
    justify-content: center;
    padding: 5px;
}

.card img {
    width: 100%; /* Agar gambar responsif */
    height: auto; /* Mempertahankan rasio aspek gambar */
    padding: 5px;
}

.card:hover {
    cursor: pointer;
    scale: 1.3;
    transition-duration: 0.5s;
}

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: rgb(231, 221, 221);
}

.hayu {
  text-align: center;  
  font-size: 3em;
  padding-bottom: 20px;
}

.sosmed {
    width: 500px;
    height: 300px;
    background-color: gray;
    border-radius: 30px;
    padding: 60px;
    font-size: 20px;
    margin-left: 50px;
    
}

.sosmed img{
    width: 50px; 
    height: 40px;   

}

.sosmed b{
    text-align: justify;
    font-size: 20px;
}

.bawah{
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
}

.operator{
    width: 500px;
    height: 300px;
    background-color: gray;
    border-radius: 30px;
    padding: 60px;
    font-size: 20px;
    margin-left: 200px;
    font-size: 22px;
    
}

.operator span{
    color: white;
}

.balok{
    display: flex;
    
    
}

.cardsosmed{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
}