@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ff6d00;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0277bd;
}

button{
    padding: 9px 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #fff9c4;
}

/* Slider */

.image {
    display: flex;
    width: 100%;
    transition: 2s;
}

.image img {
    width: 100%;
}

.wrapper{
    width: 800px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#slide-1:target ~ .image {
    margin-left: 0px;
}

#slide-2:target ~ .image {
    margin-left: -100%;
}

#slide-3:target ~ .image {
    margin-left: -200%;
}

#slide-4:target ~ .image {
    margin-left: -300%;
}

.navigation a {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #cecece;
    font-size: 0px;
    border-radius: 90px;
    margin: 3px;
    transition: 1s;
}

.navigation a:hover {
    background-color: #666;
}

.navigation {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
    background-color: #66666600;
}